<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>psmodendereco</name>
	<displayName><![CDATA[Endereço por Cep]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Recupera o endereço por Cep da API dos correios.]]></description>
	<author><![CDATA[Ederson Ferreira]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
